*{
    margin: 0;
}

.parte1 {
    background-color:#47b77b51;
    border-right: 9px solid #4e979084;
    
    }

body {
    display: flex;
}

.section2 {

}

.container1 {
    width: rem;
}

.apresentacao {
    padding: 10px;
    margin-left: 40px;
    font-size: 30px;
}


.foto {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-left:40px;
}

.div-foto {
     padding: 18px 5px ;
    
}

.foto2 {
    width: 50px;
    height: 35px;
}

.contato{
    display: flex;
    justify-content: space-between;
    margin-left:40px;
    margin-top: 20px;
    font-size: 30px;
    margin-bottom: 40px;
}

.contato span {

     font-size: 24px;
     cursor: pointer;
}

.contato a img  {
    width: 40px;
    height: 40px;

}

.contato1 {
    font-size: 30px;
}

.h4{
    margin-bottom: 30px;
}

.div-contato {
    padding: 6px ;
    
}

h1 {
    font-size: 30px;
}

.contato1 {
    margin-left: 40px;
    margin-bottom: 100px;
}

#divisoria {
    display: flex;
    
}

.sobre-mim{
    margin: 20px 30px;
    font-size: 30px;
}

#parte1 {
  font-size: 24px;
  background-color: rgba(204, 204, 204, 0.518);
  padding: 20px;
  border-radius: 30px;
  font-family: calisto;
  width:35rem;}


.texto {
    margin-top: 60px;
    width: 600px;
    margin-left: 40px;  
    border:1px solid;
    border-radius: 10px;
    padding: 10px;
}


#navegacao {
    display: flex;
    flex-direction: column;
}

.adblock {
    display: block;
}

.div-section {
    margin-top: 30px;
    
}


.div-section > h1 {
    font-family: "lobster";
}

.div-section1 {
    margin-top: 30px;
}

.icone >img {
    width: 20px;
    height: 20px;
    border: none;
}

nav > button {
    width: 100px;
    height: 60px;
    border: NONE;
    background-color: white;
    font-size: 20px;
    border-radius: 5px;
}


nav > button:hover {
    border-radius: 10px;
    background-color:#47b77b51;
    color:#4e979084;
    font-weight: bold;
}



#btna {
  
    margin-left:10rem;
}

#btnb {

    margin-left: 5rem;
}

#btnc {
    margin-left: 5rem;
}
#btnd {
    margin-left: 5rem;
}


.block{
  display: flex;
  justify-content: center;
  height: 100px;
}

.block > button {
    margin-top: 2rem;
}


div > ul  {
    list-style: none;
}


li > img {
    width: 80px;
    height: 80px;
}

.container {
    display: flex;
}



.hide {
   display: none; 
}

#parte4 {
    display: flex;
    flex-direction: column;
    margin-top: ;
}


form {
    width: 20rem;
}

@media (max-width: 600px) {
    #hero h1 {
        font-size:26px;
        width: 90%;
    }

    #hero p {
        font-size: 16px;
        font-weight: 300;
        margin: 15px 0;
    }
}

@media(max-width: 1302px) {
    #form {
        margin-left: 10rem;
    }
}